<div class="col-md-5 col-md-offset-3">
<div class="row">
    <img src = "../Styles/Images/logo.png">
    <div class = "row">
    <h2>Time Sheet Portal</h2>
    </div>
<form name="form" ng-submit="login(username,password)" role="form" class="ng-scope ng-pristine ng-valid">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <br/>
    {{loginError}}  {{loggedUser}}
    <br/>
    <div class="form-actions">
        <button type="submit" ng-click="" class="btn btn-primary">Login</button>
        <a href="../resetpassword/resetPassword.html" class="btn btn-link">Reset Password</a>
    </div>

</form>
</div>
</div>