body{                    padding:40px 40px 40px 40px;
}

.logo{

    margin-left: 400px;
}

h3
{
    text-align: center;
    color:#AFAFAF;
    font-size: 20px;

}
.orderedlist{
    border-style:solid;
    border-radius: 10px;
    background-color: #FCF8E3;
    border-color:#F6F2DD;
}
.padding{
    padding-left: 20px;
    padding-right: 20px;
}

/* footer */

nav ul li {
    display:inline-block;
    margin-left:40px;
    height:20px;

}
nav ul li a {
    font-family:Trebuchet MS;
    font-weight:300;
    font-size:14px;
    color:#fff;
    text-decoration:none;
}
nav ul li ul a:hover{
    text-decoration:underline;
    color:white;
}
nav ul li  a:hover{
    text-decoration:none;
    color:white;
}
footer{
    width:100%;
    background-color:#756F6D;
}


/* moved from app.css*/
/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
