body{                    padding:40px 40px 40px 40px;
}

.logo{

    margin-left: 440px;
}

h3
{
    text-align: center;
    color:#AFAFAF;
    font-size: 20px;

}
.orderedlist{
    border-style:solid;
    border-radius: 10px;
    background-color: #FCF8E3;
    border-color:#F6F2DD;
}
.padding{
    padding-left: 20px;
    padding-right: 20px;
}

/* footer */

nav ul li {
    display:inline-block;
    margin-left:40px;
    height:20px;

}
nav ul li a {
    font-family:Trebuchet MS;
    font-weight:300;
    font-size:14px;
    color:#fff;
    text-decoration:none;
}
nav ul li ul a:hover{
    text-decoration:underline;
    color:white;
}
nav ul li  a:hover{
    text-decoration:none;
    color:white;
}
footer{
    width:100%;
    background-color:#756F6D;
}
